In [4]:
import pandas as pd
import numpy as np
import math
import os

In [5]:
os.listdir()

['d_opt copy.ipynb',
 'd_opt.ipynb',
 'd_opt_improvement_binary.ipynb',
 'd_opt_improvement_binary_init.ipynb',
 'd_opt_improvement_permutation 300.ipynb',
 'd_opt_improvement_permutation until280.ipynb',
 'd_opt_julia_colab.ipynb',
 'd_opt_python copy.ipynb',
 'd_opt_python.ipynb',
 'generatelatextablerows.ipynb',
 'ResultsCSV',
 'ResultsInstances',
 'solutions_sanity_check.ipynb']

In [116]:
!pip install natsort
import natsort

Requirement already satisfied: natsort in c:\users\caeir\miniconda3\envs\python37\lib\site-packages (8.2.0)

In [3]:
files = ["permutation_instances_180-x_a_240-x.csv", "permutation_instances_280-x.csv", "permutation_instances_40-x_a_140-x.csv"]

In [4]:
results = None

for file in files:
    data = pd.read_csv(file, sep=";")
    
    if results is None:
        results = data
    else: results = pd.concat([results, data])

In [5]:
results.shape

(270, 44)

In [6]:
results.head(2)

,experiment_id,execution_id,seed,instance,n,m,s,best_known_result,max_generations,max_generations_without_change,...,elite_fitness,elite_hash,num_generations,message,version_hash,cpu_name,best_sol_changes,best_sol_change_times,best_sol_change_generations,raw_solution
0,0,1671556753,879761,Instance_180_1.mat,180,45,90,-2.057116,20000,10000,...,"-2.0822770878749433,-2.0822770878749433,-2.082...",3269311489113210210758288366133474373925429873...,20000,Maximum number of generations reached.,02bd8044869d42ab2e2ea3dd85881f16198c5e8f,AMD EPYC 7B12,"-9.504964466217162,-9.171740747759097,-8.78514...","0.03070664405822754,0.04591560363769531,0.0738...","1,1,3,5,17,19,32,40,48,54,55,56,63,67,70,71,76...",0011011010011100111101011110100111010001100110...
1,0,1671557075,659877,Instance_180_1.mat,180,45,90,-2.057116,20000,10000,...,"-2.0427498562262074,-2.0427498562262074,-2.042...",3686693535294580618541107438550974091360651296...,20000,Maximum number of generations reached.,02bd8044869d42ab2e2ea3dd85881f16198c5e8f,AMD EPYC 7B12,"-8.752356285288649,-8.666906008992086,-8.39701...","0.032274723052978516,0.07886886596679688,0.195...","1,3,10,14,21,22,26,29,31,33,39,44,47,61,69,70,...",0011110110010101110111001110110111100011100011...

In [7]:
results.describe()

,experiment_id,execution_id,seed,n,m,s,best_known_result,max_generations,max_generations_without_change,max_time,max_time_without_change,population_size,mutation_probability,crossover_probability,elite_size,offspring_size,total_time_ms,best_solution_found,gap,num_generations
count,270.0,2.700000e+02,270.000000,270.000000,270.000000,270.000000,270.000000,270.0,270.0,270.0,270.0,270.0,270.0,2.700000e+02,270.0,270.0,270.000000,270.000000,270.000000,270.000000
mean,0.0,1.671570e+09,525137.692593,146.666667,36.666667,73.333333,-1.510962,20000.0,10000.0,3600.0,1800.0,30.0,0.1,9.000000e-01,0.3,0.4,317.720760,-1.631191,-0.121422,17626.203704
std,0.0,1.361177e+04,294923.562366,79.027547,19.756887,39.513773,1.193320,0.0,0.0,0.0,0.0,0.0,0.0,3.336854e-16,0.0,0.0,280.804952,1.075776,0.222953,3457.651753
min,0.0,1.671557e+09,4460.000000,40.000000,10.000000,20.000000,-3.217712,20000.0,10000.0,3600.0,1800.0,30.0,0.1,9.000000e-01,0.3,0.4,31.864484,-3.384227,-1.584301,10313.000000
25%,0.0,1.671559e+09,282016.500000,80.000000,20.000000,40.000000,-2.426260,20000.0,10000.0,3600.0,1800.0,30.0,0.1,9.000000e-01,0.3,0.4,71.345623,-2.459201,-0.135096,13997.000000
50%,0.0,1.671564e+09,547554.000000,140.000000,35.000000,70.000000,-1.654647,20000.0,10000.0,3600.0,1800.0,30.0,0.1,9.000000e-01,0.3,0.4,318.974988,-1.705899,-0.031719,20000.000000
75%,0.0,1.671577e+09,774754.000000,200.000000,50.000000,100.000000,-0.745438,20000.0,10000.0,3600.0,1800.0,30.0,0.1,9.000000e-01,0.3,0.4,436.058499,-1.129675,0.000000,20000.000000
max,0.0,1.671613e+09,998310.000000,280.000000,70.000000,140.000000,1.467885,20000.0,10000.0,3600.0,1800.0,30.0,0.1,9.000000e-01,0.3,0.4,982.314290,1.115354,0.093075,20000.000000

In [14]:
results_heuristics = pd.read_csv("results_heuristics.csv", sep=",", names=["n", "m", "s", "i", "solution", "time"])

In [15]:
results_heuristics.head(4)

      n     m     s    i  solution      time
0  40.0  10.0  20.0  1.0 -1.553807  1.677023
1  40.0  10.0  20.0  2.0 -0.701314  0.336325
2  40.0  10.0  20.0  3.0 -1.426569  0.165594
3  60.0  15.0  30.0  1.0 -1.781184  1.221334

In [21]:
results_heuristics["inst_name"] = results_heuristics.apply(lambda row: str(int(row.n)) + "-" + str(int(row.i)), axis=1)

In [31]:
results_heuristics.head(4)

      n     m     s    i  solution      time inst_name
0  40.0  10.0  20.0  1.0 -1.553807  1.677023      40-1
1  40.0  10.0  20.0  2.0 -0.701314  0.336325      40-2
2  40.0  10.0  20.0  3.0 -1.426569  0.165594      40-3
3  60.0  15.0  30.0  1.0 -1.781184  1.221334      60-1

In [23]:
known_solutions_and_times = {}

for index, row in results_heuristics.iterrows():
    known_solutions_and_times[row["inst_name"]] = {
        "solution": row["solution"],
        "time": row["time"],
    }

In [33]:
known_solutions_and_times

{'40-1': {'solution': -1.5538065375157497, 'time': 1.6770228},
 '40-2': {'solution': -0.7013141749532328, 'time': 0.3363247},
 '40-3': {'solution': -1.4265686998844602, 'time': 0.1655936},
 '60-1': {'solution': -1.7811835092404429, 'time': 1.2213344},
 '60-2': {'solution': -2.3348248346041665, 'time': 1.287859},
 '60-3': {'solution': -1.40011221194216, 'time': 1.2728199},
 '80-1': {'solution': -2.7777165416793443, 'time': 16.3234614},
 '80-2': {'solution': -2.426260131985708, 'time': 18.041299},
 '80-3': {'solution': -2.487376083484186, 'time': 16.1240388},
 '100-1': {'solution': -2.426174239847802, 'time': 42.8729734},
 '100-2': {'solution': -2.7135833838735475, 'time': 52.7915722},
 '100-3': {'solution': -2.657546803181804, 'time': 41.9369386},
 '140-1': {'solution': -3.0773270100606767, 'time': 326.2719769},
 '140-2': {'solution': -3.2177118307946277, 'time': 307.3792277},
 '140-3': {'solution': -1.5186079694057744, 'time': 328.5164291},
 '180-1': {'solution': -2.0571155641648318, 'time': 1041.7419984},
 '180-2': {'solution': -1.6546466910029751, 'time': 1124.2092824},
 '180-3': {'solution': -1.6699037015070772, 'time': 1170.7045778},
 '200-1': {'solution': -1.759501274045146, 'time': 1934.500163},
 '200-2': {'solution': -1.2923407534551357, 'time': 1729.9786321},
 '200-3': {'solution': -1.503750049415018, 'time': 1954.8900997},
 '240-1': {'solution': -0.4699185897377617, 'time': 4701.3517185},
 '240-2': {'solution': -0.6524620064741053, 'time': 3665.8828854},
 '240-3': {'solution': -0.745437975660058, 'time': 3634.7814395},
 '280-1': {'solution': 1.4678852372372595, 'time': 10209.3180701},
 '280-2': {'solution': 1.1929173548780811, 'time': 7754.9068301},
 '280-3': {'solution': 0.811209854274862, 'time': 6523.1469564},
 '300-1': {'solution': 4.335766598515761, 'time': 9905.3361422},
 '300-2': {'solution': 3.534493185990471, 'time': 7914.3491479},
 '300-3': {'solution': 3.001598466799293, 'time': 8535.7416016}}

In [84]:
optimal_solutions = pd.read_csv("optimal_solutions_bb.csv", sep=";")
optimal_solutions["inst_name"] = optimal_solutions.apply(lambda row: str(int(row.n)) + "-" + str(int(row.i)), axis=1)
optimal_solutions

    n  i        z*     time (sec) inst_name
0  40  1 -1.553807      70.552793      40-1
1  40  2 -0.701314      18.185413      40-2
2  40  3 -1.417195      40.254526      40-3
3  60  1 -1.770328  283165.878800      60-1
4  60  2 -2.274931    2110.350434      60-2
5  60  3 -1.364478    1236.230858      60-3
6  80  1 -2.748243    3080.547509      80-1
7  80  2 -2.426260    8280.409698      80-2
8  80  3 -2.433243   21872.325420      80-3

In [85]:
optimal_solutions_and_times = {}

for index, row in optimal_solutions.iterrows():
    optimal_solutions_and_times[row["inst_name"]] = {
        "solution": row["z*"],
        "time": row["time (sec)"],
    }
optimal_solutions_and_times

{'40-1': {'solution': -1.553806531, 'time': 70.5527933},
 '40-2': {'solution': -0.701314173, 'time': 18.18541258},
 '40-3': {'solution': -1.417194751, 'time': 40.25452646},
 '60-1': {'solution': -1.77032845, 'time': 283165.8788},
 '60-2': {'solution': -2.274931295, 'time': 2110.350434},
 '60-3': {'solution': -1.364477823, 'time': 1236.230858},
 '80-1': {'solution': -2.748242775, 'time': 3080.547509},
 '80-2': {'solution': -2.426260124, 'time': 8280.409698},
 '80-3': {'solution': -2.433243458, 'time': 21872.32542}}

In [92]:
results["inst_name"] = results.apply(lambda row: row.instance.replace("Instance_", "").replace(".mat", "").replace("_", "-"), axis=1)
results["gap_heur"] = results.apply(lambda row: (row.best_solution_found - known_solutions_and_times[row.inst_name]["solution"]) / abs(known_solutions_and_times[row.inst_name]["solution"]), axis=1)
results["time_heur"] = results.apply(lambda row: known_solutions_and_times[row.inst_name]["time"], axis=1)
results["gap_t_heur"] = results.apply(lambda row: (row.total_time_ms - known_solutions_and_times[row.inst_name]["time"]) / abs(known_solutions_and_times[row.inst_name]["time"]), axis=1)

results["gap_bb"] = results.apply(lambda row: (row.best_solution_found - optimal_solutions_and_times[row.inst_name]["solution"]) / abs(optimal_solutions_and_times[row.inst_name]["solution"]) if row.inst_name in optimal_solutions_and_times else np.NaN, axis=1)
results["time_bb"] = results.apply(lambda row: optimal_solutions_and_times[row.inst_name]["time"] if row.inst_name in optimal_solutions_and_times else np.NaN, axis=1)
results["solution_bb"] = results.apply(lambda row: optimal_solutions_and_times[row.inst_name]["solution"] if row.inst_name in optimal_solutions_and_times else np.NaN, axis=1)
results["gap_t_bb"] = results.apply(lambda row: (row.total_time_ms - optimal_solutions_and_times[row.inst_name]["time"]) / abs(optimal_solutions_and_times[row.inst_name]["time"]) if row.inst_name in optimal_solutions_and_times else np.NaN, axis=1)

In [93]:
results.head(2)

,experiment_id,execution_id,seed,instance,n,m,s,best_known_result,max_generations,max_generations_without_change,...,best_sol_change_generations,raw_solution,inst_name,gap_heur,gap_t_heur,time_heur,gap_bb,time_bb,gap_t_bb,solution_bb
0,0,1671556753,879761,Instance_180_1.mat,180,45,90,-2.057116,20000,10000,...,"1,1,3,5,17,19,32,40,48,54,55,56,63,67,70,71,76...",0011011010011100111101011110100111010001100110...,180-1,-0.012231,-0.693471,1041.741998,NaN,NaN,NaN,NaN
1,0,1671557075,659877,Instance_180_1.mat,180,45,90,-2.057116,20000,10000,...,"1,3,10,14,21,22,26,29,31,33,39,44,47,61,69,70,...",0011110110010101110111001110110111100011100011...,180-1,0.006983,-0.692048,1041.741998,NaN,NaN,NaN,NaN

In [67]:
agg = results.groupby("inst_name").aggregate({
    "best_known_result": ["max"],
    "best_solution_found": ["max", "min", "mean", "std"],
    "gap_heur": ["max"],
    "total_time_ms": ["mean"]
}).reset_index()

agg

   inst_name best_known_result best_solution_found                      \
                           max                 max       min      mean
0      100-1         -2.426174           -2.382441 -2.505964 -2.446197
1      100-2         -2.713583           -2.735159 -3.005787 -2.846416
2      100-3         -2.657547           -2.521141 -2.706133 -2.628419
3      140-1         -3.077327           -3.021523 -3.176291 -3.082425
4      140-2         -3.217712           -3.082287 -3.384227 -3.235753
5      140-3         -1.518608           -1.564260 -1.674035 -1.613971
6      180-1         -2.057116           -1.988444 -2.134194 -2.075248
7      180-2         -1.654647           -1.587293 -1.922091 -1.774749
8      180-3         -1.669904           -1.538407 -1.895536 -1.722800
9      200-1         -1.759501           -1.822654 -2.086703 -1.965620
10     200-2         -1.292341           -1.301926 -1.733661 -1.489359
11     200-3         -1.503750           -1.517071 -1.775885 -1.632244
12     240-1         -0.432711           -0.516611 -1.118254 -0.775051
13     240-2         -0.652462           -0.591734 -1.080046 -0.791639
14     240-3         -0.745438           -0.860661 -1.197046 -0.998813
15     280-1          1.467885            1.092162  0.731701  0.937394
16     280-2          1.192917            1.115354  0.577055  0.852318
17     280-3          0.811210            0.473627 -0.055003  0.322674
18      40-1         -1.553807           -1.553807 -1.606876 -1.571579
19      40-2         -0.701314           -0.701314 -0.728472 -0.709836
20      40-3         -1.426569           -1.417195 -1.461094 -1.427849
21      60-1         -1.781184           -1.774589 -1.824096 -1.792810
22      60-2         -2.334825           -2.285257 -2.435474 -2.385717
23      60-3         -1.400112           -1.364488 -1.471726 -1.427827
24      80-1         -2.777717           -2.763176 -2.852223 -2.790585
25      80-2         -2.426260           -2.426260 -2.553080 -2.497020
26      80-3         -2.487376           -2.438017 -2.583519 -2.472606

              gap_heur total_time_ms
         std       max          mean
0   0.037226  0.018025    118.595786
1   0.077931 -0.007951    123.699606
2   0.051958  0.051328    121.839422
3   0.051585  0.018134    496.729719
4   0.107259  0.042087    499.091619
5   0.039185 -0.030062    498.823657
6   0.042005  0.033383    318.645915
7   0.117311  0.040706    319.142202
8   0.108132  0.078745    317.236557
9   0.079075 -0.035893    366.204415
10  0.165238 -0.007417    354.515010
11  0.084001 -0.008858    345.968139
12  0.187912 -0.099363    433.161955
13  0.140915  0.093075    436.146843
14  0.111797 -0.154571    430.118101
15  0.106254 -0.255962    958.345196
16  0.143979 -0.065020    962.937830
17  0.149785 -0.416148    965.053146
18  0.019073  0.000000     36.478286
19  0.010889  0.000000     35.055597
20  0.017935  0.006571     35.259347
21  0.016582  0.003702     53.021829
22  0.050505  0.021230     50.264262
23  0.044001  0.025444     54.445732
24  0.027446  0.005235     78.112388
25  0.047261  0.000000     80.137855
26  0.040746  0.019844     89.430113

In [68]:
agg.columns = ['_'.join(col) for col in agg.columns.values]
agg

,inst_name_,best_known_result_max,best_solution_found_max,best_solution_found_min,best_solution_found_mean,best_solution_found_std,gap_heur_max,total_time_ms_mean
0,100-1,-2.426174,-2.382441,-2.505964,-2.446197,0.037226,0.018025,118.595786
1,100-2,-2.713583,-2.735159,-3.005787,-2.846416,0.077931,-0.007951,123.699606
2,100-3,-2.657547,-2.521141,-2.706133,-2.628419,0.051958,0.051328,121.839422
3,140-1,-3.077327,-3.021523,-3.176291,-3.082425,0.051585,0.018134,496.729719
4,140-2,-3.217712,-3.082287,-3.384227,-3.235753,0.107259,0.042087,499.091619
5,140-3,-1.518608,-1.564260,-1.674035,-1.613971,0.039185,-0.030062,498.823657
6,180-1,-2.057116,-1.988444,-2.134194,-2.075248,0.042005,0.033383,318.645915
7,180-2,-1.654647,-1.587293,-1.922091,-1.774749,0.117311,0.040706,319.142202
8,180-3,-1.669904,-1.538407,-1.895536,-1.722800,0.108132,0.078745,317.236557
9,200-1,-1.759501,-1.822654,-2.086703,-1.965620,0.079075,-0.035893,366.204415
10,200-2,-1.292341,-1.301926,-1.733661,-1.489359,0.165238,-0.007417,354.515010
11,200-3,-1.503750,-1.517071,-1.775885,-1.632244,0.084001,-0.008858,345.968139
12,240-1,-0.432711,-0.516611,-1.118254,-0.775051,0.187912,-0.099363,433.161955
13,240-2,-0.652462,-0.591734,-1.080046,-0.791639,0.140915,0.093075,436.146843
14,240-3,-0.745438,-0.860661,-1.197046,-0.998813,0.111797,-0.154571,430.118101
15,280-1,1.467885,1.092162,0.731701,0.937394,0.106254,-0.255962,958.345196
16,280-2,1.192917,1.115354,0.577055,0.852318,0.143979,-0.065020,962.937830
17,280-3,0.811210,0.473627,-0.055003,0.322674,0.149785,-0.416148,965.053146
18,40-1,-1.553807,-1.553807,-1.606876,-1.571579,0.019073,0.000000,36.478286
19,40-2,-0.701314,-0.701314,-0.728472,-0.709836,0.010889,0.000000,35.055597
20,40-3,-1.426569,-1.417195,-1.461094,-1.427849,0.017935,0.006571,35.259347
21,60-1,-1.781184,-1.774589,-1.824096,-1.792810,0.016582,0.003702,53.021829
22,60-2,-2.334825,-2.285257,-2.435474,-2.385717,0.050505,0.021230,50.264262
23,60-3,-1.400112,-1.364488,-1.471726,-1.427827,0.044001,0.025444,54.445732
24,80-1,-2.777717,-2.763176,-2.852223,-2.790585,0.027446,0.005235,78.112388
25,80-2,-2.426260,-2.426260,-2.553080,-2.497020,0.047261,0.000000,80.137855
26,80-3,-2.487376,-2.438017,-2.583519,-2.472606,0.040746,0.019844,89.430113

In [69]:
agg.best_known_result_max[agg.inst_name_ == "40-1"]

18   -1.553807
Name: best_known_result_max, dtype: float64

In [131]:
lines = []
for index, row in agg.iterrows():
    best_results = results[(results.inst_name == row.inst_name_) & (results.best_solution_found == row.best_solution_found_max)]
    best_results = best_results.sort_values(by=['total_time_ms'], ascending=False)
    best_results = best_results.iloc[0]
    
    #print(
    #    row["inst_name_"],
    #    best_results["solution_bb"],
    #    best_results["time_bb"],
    #    row["best_known_result_max"],
    #    best_results["time_heur"],
    #    row["best_solution_found_max"],
    #    row["best_solution_found_min"],
    #    row["best_solution_found_mean"],
    #    row["best_solution_found_std"],
    #    best_results["gap_bb"],
    #    best_results["gap_heur"],
    #    best_results["total_time_ms"],
    #    row["total_time_ms_mean"],
    #    best_results["gap_t_bb"],
    #    best_results["gap_t_heur"],
    #)
    
    #line = [
    #    "{}".format(row["inst_name_"]),
    #    "{:.10f}".format(best_results["solution_bb"]),
    #    "{:.2f}".format(best_results["time_bb"]),
    #    "{:.10f}".format(row["best_known_result_max"]),
    #    "{:.2f}".format(best_results["time_heur"]),
    #    "{:.10f}".format(row["best_solution_found_max"]),
    #    "{:.10f}".format(row["best_solution_found_min"]),
    #    "{:.10f}".format(row["best_solution_found_mean"]),
    #    "{:.5f}".format(row["best_solution_found_std"]),
    #    "{:.10f}".format(best_results["gap_bb"]),
    #    "{:.10f}".format(best_results["gap_heur"]),
    #    "{:.2f}".format(best_results["total_time_ms"]),
    #    "{:.2f}".format(row["total_time_ms_mean"]),
    #    "{:.2f}".format(best_results["gap_t_bb"]),
    #    "{:.2f}".format(best_results["gap_t_heur"]),
    #]
    
    #print(best_results["gap_bb"], math.isnan(best_results["gap_bb"]))
    
    line = [
        "{}".format(row["inst_name_"]),
        "{:.10f}".format(best_results["solution_bb"]),
        "{:.2f}".format(best_results["time_bb"]),
        "{:.10f}".format(row["best_known_result_max"]),
        "{:.2f}".format(best_results["time_heur"]),
        "{:.10f}".format(row["best_solution_found_max"]),
        "{:.10f}".format(row["best_solution_found_min"]),
        "{:.10f}".format(row["best_solution_found_mean"]),
        "{:.5f}".format(row["best_solution_found_std"]),
        "\\textcolor{{{}}}{{{:.2E}}}".format("blue" if best_results["gap_bb"] >= 0 else "red", best_results["gap_bb"]),
        "\\textcolor{{{}}}{{{:.2E}}}".format("blue" if best_results["gap_heur"] >= 0 else "red", best_results["gap_heur"]),
        "{:.2f}".format(best_results["total_time_ms"]),
        "{:.2f}".format(row["total_time_ms_mean"]),
        "\\textcolor{{{}}}{{{:.2f}}}".format("red" if best_results["gap_t_bb"] >= 0 else "blue", best_results["gap_t_bb"]),
        "\\textcolor{{{}}}{{{:.2f}}}".format("red" if best_results["gap_t_heur"] >= 0 else "blue", best_results["gap_t_heur"]),
    ]
    
    line = ["---" if "nan" in value or "NAN" in value else value for value in line]
    
    line = " & ".join([value for value in line]) + " \\\\\n\\hline"
    
    lines.append(line)

for line in natsort.natsorted(lines):
    print(line)

40-1 & -1.5538065310 & 70.55 & -1.5538065375 & 1.68 & -1.5538065375 & -1.6068764583 & -1.5715793209 & 0.01907 & \textcolor{red}{-4.19E-09} & \textcolor{blue}{0.00E+00} & 41.51 & 36.48 & \textcolor{blue}{-0.41} & \textcolor{red}{23.75} \\
\hline
40-2 & -0.7013141730 & 18.19 & -0.7013141750 & 0.34 & -0.7013141750 & -0.7284717172 & -0.7098356567 & 0.01089 & \textcolor{red}{-2.79E-09} & \textcolor{blue}{0.00E+00} & 36.58 & 35.06 & \textcolor{red}{1.01} & \textcolor{red}{107.77} \\
\hline
40-3 & -1.4171947510 & 40.25 & -1.4265686999 & 0.17 & -1.4171947477 & -1.4610942547 & -1.4278494395 & 0.01793 & \textcolor{blue}{2.35E-09} & \textcolor{blue}{6.57E-03} & 34.56 & 35.26 & \textcolor{blue}{-0.14} & \textcolor{red}{207.69} \\
\hline
60-1 & -1.7703284500 & 283165.88 & -1.7811835092 & 1.22 & -1.7745889457 & -1.8240959403 & -1.7928097760 & 0.01658 & \textcolor{red}{-2.41E-03} & \textcolor{blue}{3.70E-03} & 53.43 & 53.02 & \textcolor{blue}{-1.00} & \textcolor{red}{42.75} \\
\hline
60-2 & -2.2749312950 & 2110.35 & -2.3348248346 & 1.29 & -2.2852570266 & -2.4354737393 & -2.3857170376 & 0.05050 & \textcolor{red}{-4.54E-03} & \textcolor{blue}{2.12E-02} & 51.43 & 50.26 & \textcolor{blue}{-0.98} & \textcolor{red}{38.94} \\
\hline
60-3 & -1.3644778230 & 1236.23 & -1.4001122119 & 1.27 & -1.3644876803 & -1.4717263328 & -1.4278265482 & 0.04400 & \textcolor{red}{-7.22E-06} & \textcolor{blue}{2.54E-02} & 55.22 & 54.45 & \textcolor{blue}{-0.96} & \textcolor{red}{42.38} \\
\hline
80-1 & -2.7482427750 & 3080.55 & -2.7777165417 & 16.32 & -2.7631758172 & -2.8522229964 & -2.7905845822 & 0.02745 & \textcolor{red}{-5.43E-03} & \textcolor{blue}{5.23E-03} & 101.16 & 78.11 & \textcolor{blue}{-0.97} & \textcolor{red}{5.20} \\
\hline
80-2 & -2.4262601240 & 8280.41 & -2.4262601320 & 18.04 & -2.4262601320 & -2.5530802971 & -2.4970202940 & 0.04726 & \textcolor{red}{-3.29E-09} & \textcolor{blue}{0.00E+00} & 77.20 & 80.14 & \textcolor{blue}{-0.99} & \textcolor{red}{3.28} \\
\hline
80-3 & -2.4332434580 & 21872.33 & -2.4873760835 & 16.12 & -2.4380165890 & -2.5835194539 & -2.4726057442 & 0.04075 & \textcolor{red}{-1.96E-03} & \textcolor{blue}{1.98E-02} & 106.18 & 89.43 & \textcolor{blue}{-1.00} & \textcolor{red}{5.59} \\
\hline
100-1 & --- & --- & -2.4261742398 & 42.87 & -2.3824412611 & -2.5059635114 & -2.4461972136 & 0.03723 & --- & \textcolor{blue}{1.80E-02} & 129.07 & 118.60 & --- & \textcolor{red}{2.01} \\
\hline
100-2 & --- & --- & -2.7135833839 & 52.79 & -2.7351587517 & -3.0057868297 & -2.8464164384 & 0.07793 & --- & \textcolor{red}{-7.95E-03} & 127.91 & 123.70 & --- & \textcolor{red}{1.42} \\
\hline
100-3 & --- & --- & -2.6575468032 & 41.94 & -2.5211405115 & -2.7061332606 & -2.6284188826 & 0.05196 & --- & \textcolor{blue}{5.13E-02} & 116.35 & 121.84 & --- & \textcolor{red}{1.77} \\
\hline
140-1 & --- & --- & -3.0773270101 & 326.27 & -3.0215225140 & -3.1762905283 & -3.0824254807 & 0.05158 & --- & \textcolor{blue}{1.81E-02} & 484.24 & 496.73 & --- & \textcolor{red}{0.48} \\
\hline
140-2 & --- & --- & -3.2177118308 & 307.38 & -3.0822865124 & -3.3842274004 & -3.2357533733 & 0.10726 & --- & \textcolor{blue}{4.21E-02} & 512.48 & 499.09 & --- & \textcolor{red}{0.67} \\
\hline
140-3 & --- & --- & -1.5186079694 & 328.52 & -1.5642597687 & -1.6740352187 & -1.6139714659 & 0.03918 & --- & \textcolor{red}{-3.01E-02} & 504.86 & 498.82 & --- & \textcolor{red}{0.54} \\
\hline
180-1 & --- & --- & -2.0571155642 & 1041.74 & -1.9884438914 & -2.1341935631 & -2.0752475529 & 0.04201 & --- & \textcolor{blue}{3.34E-02} & 317.83 & 318.65 & --- & \textcolor{blue}{-0.69} \\
\hline
180-2 & --- & --- & -1.6546466910 & 1124.21 & -1.5872925957 & -1.9220908167 & -1.7747485747 & 0.11731 & --- & \textcolor{blue}{4.07E-02} & 323.61 & 319.14 & --- & \textcolor{blue}{-0.71} \\
\hline
180-3 & --- & --- & -1.6699037015 & 1170.70 & -1.5384073952 & -1.8955355491 & -1.7228001710 & 0.10813 & --- & \textcolor{blue}{7.87E-02} & 309.94 & 317.24 & --- & \textcolor{blue}{-0.74} \\
\hline
200-1 & --- & --- & -1.7595012740 & 1934.50 & -1.8226542840 & -2.0867027053 & -1.9656198453 & 0.07908 & --- & \textcolor{red}{-3.59E-02} & 369.02 & 366.20 & --- & \textcolor{blue}{-0.81} \\
\hline
200-2 & --- & --- & -1.2923407535 & 1729.98 & -1.3019257969 & -1.7336611539 & -1.4893592544 & 0.16524 & --- & \textcolor{red}{-7.42E-03} & 366.56 & 354.52 & --- & \textcolor{blue}{-0.79} \\
\hline
200-3 & --- & --- & -1.5037500494 & 1954.89 & -1.5170705129 & -1.7758853168 & -1.6322441360 & 0.08400 & --- & \textcolor{red}{-8.86E-03} & 343.18 & 345.97 & --- & \textcolor{blue}{-0.82} \\
\hline
240-1 & --- & --- & -0.4327106421 & 4701.35 & -0.5166109346 & -1.1182543748 & -0.7750505928 & 0.18791 & --- & \textcolor{red}{-9.94E-02} & 431.27 & 433.16 & --- & \textcolor{blue}{-0.91} \\
\hline
240-2 & --- & --- & -0.6524620065 & 3665.88 & -0.5917338244 & -1.0800463580 & -0.7916386953 & 0.14092 & --- & \textcolor{blue}{9.31E-02} & 433.78 & 436.15 & --- & \textcolor{blue}{-0.88} \\
\hline
240-3 & --- & --- & -0.7454379757 & 3634.78 & -0.8606614349 & -1.1970457466 & -0.9988125761 & 0.11180 & --- & \textcolor{red}{-1.55E-01} & 429.38 & 430.12 & --- & \textcolor{blue}{-0.88} \\
\hline
280-1 & --- & --- & 1.4678852372 & 10209.32 & 1.0921616892 & 0.7317012491 & 0.9373941225 & 0.10625 & --- & \textcolor{red}{-2.56E-01} & 956.84 & 958.35 & --- & \textcolor{blue}{-0.91} \\
\hline
280-2 & --- & --- & 1.1929173549 & 7754.91 & 1.1153541156 & 0.5770548458 & 0.8523180718 & 0.14398 & --- & \textcolor{red}{-6.50E-02} & 944.46 & 962.94 & --- & \textcolor{blue}{-0.88} \\
\hline
280-3 & --- & --- & 0.8112098543 & 6523.15 & 0.4736268634 & -0.0550034974 & 0.3226740173 & 0.14979 & --- & \textcolor{red}{-4.16E-01} & 966.96 & 965.05 & --- & \textcolor{blue}{-0.85} \\
\hline

In [118]:
"{}"

'{}'